/* ---------------------callout--------------------- */
.callout[data-callout="qa"] {
  --callout-color: 65, 183, 87;
  --callout-icon: message-circle-question;
}

/* ---------------------table--------------------- */

/* 表奇偶行背景色加深 */
.markdown-rendered tbody tr:nth-child(odd) {
  background-color: hsla(var(--interactive-accent-hsl), 0.1);
}

/* 表头颜色加深 */
:is(.markdown-preview-view, .markdown-rendered, .markdown-source-view) th,
:is(.markdown-preview-view, .markdown-rendered, .markdown-source-view) thead tr>th:nth-child(2n+2) {
  background-color: var(--table-thead-background-color);
  font-family: var(--font-family-strong);
}

.theme-light {
  --table-thead-background-color: rgba(0, 0, 0, 0.1);
}

.theme-dark {
  --table-thead-background-color: rgba(0, 0, 0, 0.5);
}

/* 表格去除边框 */
:is(.markdown-preview-view, .markdown-rendered) :is(th, td) {
  padding: 4px 10px;
  border: none;
}

/* 表格添加阴影效果 */
:is(.markdown-preview-view, .markdown-rendered) table {
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

/* ---------------------编辑器--------------------- */

.markdown-rendered :is(p, td) code,
.cm-s-obsidian span.cm-inline-code {
  color: #EB5757
}

/* Active line background */
.markdown-source-view.mod-cm6 .cm-line.cm-active {
  background-color: rgba(var(--mono-rgb-100), 0.05)
}

/*Active line number */

.markdown-source-view.mod-cm6 .cm-lineNumbers .cm-gutterElement.cm-active {
  font-weight: 600;
  color: grey;
}

.HyperMD-codeblock-begin {
  counter-reset: line-numbers;
}

.HyperMD-codeblock.cm-line:not(.HyperMD-codeblock-begin):not(.HyperMD-codeblock-end) {
  padding-left: 3em;
  position: relative;
}

.HyperMD-codeblock.cm-line:not(.HyperMD-codeblock-begin):not(.HyperMD-codeblock-end)::after {
  align-items: flex-start;
  color: var(--text-faint);
  content: counter(line-numbers);
  counter-increment: line-numbers;
  display: flex;
  font-size: 0.8em;
  height: 100%;
  justify-content: flex-end;
  left: 0;
  position: absolute;
  text-align: right;
  width: 2em;
  padding-right: 0.5em;
  bottom: -2px;
  border-right: 1px solid var(--scrollbar-thumb-bg);
  white-space: nowrap;
}

.HyperMD-codeblock.cm-line.cm-active:not(.HyperMD-codeblock-begin):not(.HyperMD-codeblock-end)::after {
  color: var(--color-accent);
}

.HyperMD-codeblock .cm-foldPlaceholder::before {
  display: none;
}


/*阅读模式渐变色分割线, 实时模式渐变色分割线*/
.markdown-preview-view hr,
.markdown-source-view div.hr.cm-line hr {
  border-top: 1px solid;
  border-image: linear-gradient(to right, #ef201c, #e96036, #e6ef82, #e09a29, #41e249, #26c6da, #4e5ff2, #7e57c2, #de5fb8) 7;
}

/* ---------------------状态栏--------------------- */
.status-bar {
  /* background-color: var(--background-primary); */
  border-width: 0;
  opacity: .5;
  transition: all .2s linear;
}

.status-bar:hover {
  opacity: 1;
  border-width: var(--status-bar-border-width);
}